.desc {
  position: absolute;
  height: 100%;
  z-index: 20;
  right: 0;
  top: 0;
  width: 500px;
  color: white;
  overflow: hidden;
}

.desc > div {
  margin-top: 20%;
}

.desc > * article {
  margin-right: 50px;
  position: absolute;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.desc > * h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.desc * div:nth-child(1) {
  width: 70%;
  background-color: pink;
  text-align: right;
  padding-right: 1.25rem; /* 20px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  margin-top: 20px;
}

.desc * div:nth-child(2) {
  width: 100%;
  background-color: black;
}

.desc * p {
  width: 400px;
  margin-top: 20px;
}
