header {
  position: fixed;
  top: 1.25rem;
  z-index: 20;
  display: flex;
  justify-content: center;
  width: 100%;

  /* 복사금지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header > hgroup {
  display: flex;
  flex-direction: column;
}

header > * div {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

header > * span {
  font-size: 72px;
  color: white;
  font-weight: bold;
}
