.userInput {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.userInput > article {
  width: 440px;
  height: 590px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  color: white; /* 글자색 */

  border-radius: 15px;
  position: relative;
}

.userInput > * h1 {
  font-weight: bold;
  text-align: center;
}

.cardFront {
  backface-visibility: hidden; /* 뒤집히는 부분 감춤 */
  position: absolute;
  left: 20px;
  top: 20px;
  width: 400px;
  height: 550px;
}

.cardFront {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px; /* 내부 패딩 설정 */
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  border-radius: 10px;
  z-index: 2;
  box-sizing: border-box; /* 패딩이 요소의 크기에 영향을 미치도록 설정 */
  backface-visibility: hidden;
  transition: 750ms;
}

.cardBack {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px; /* 내부 패딩 설정 */
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  border-radius: 10px;

  box-sizing: border-box; /* 패딩이 요소의 크기에 영향을 미치도록 설정 */
  backface-visibility: hidden;
  transition: 750ms;
}

.flipped0 {
  transform: rotateY(0);
}

.flipped180 {
  transform: rotateY(180deg);
}

/* 카드 뒷면 스타일 */
/* .userInput > * div:nth-child(2) {
  padding: 30px;
  box-sizing: border-box;
} */

/* Press Enter to Start 문구 스타일 */

.userInput > * input {
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px 8px;
  color: black;
}

.userInput > * input::placeholder {
  color: rgb(255, 106, 0);
}

.userInput > * button {
  display: flex; /* 내부의 버튼들을 가로로 나란히 배치하기 위해 flex 사용 */
  justify-content: space-evenly; /* 버튼들 사이의 간격을 최대로 벌리기 */
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 45%;
  color: black;
  border-radius: 6px;
}

.card-back select {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0 auto; /* 가운데 정렬 */
  display: block; /* 블록 레벨 요소로 설정하여 가로폭 조정 가능 */
}

.birth {
  display: block; /* 가로 배치 대신 세로 배치로 변경 */
  text-align: center; /* 내부 요소를 가운데 정렬 */
}
label[for="birthDate"] {
  font-size: 15px; /* 라벨 텍스트 크기를 증가시켜 크게 보이도록 설정 */
  margin-right: 20px; /* 라벨과 선택 영역 사이의 간격을 늘립니다. */
}

#birthDate {
  font-size: 15px; /* 선택 영역의 텍스트 크기를 증가시켜 크게 보이도록 설정 */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}
.card-front input[type="text"]::placeholder {
  color: rgb(255, 106, 0); /* 플레이스홀더는 주황색 */
  text-align: center;
  width: calc(100% - 30px); /* 입력란의 너비에 맞게 플레이스홀더 너비 조정 */
  padding: 15px; /* 패딩 적용 */
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 부모 요소 기준으로 세로 중앙 정렬 */
  left: 50%; /* 부모 요소 기준으로 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 수직 및 수평 가운데 정렬 */
}

#start-text {
  position: absolute;
  bottom: 110px;
  left: 45%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #ffffff; /* 흰색 글씨 */
}
